html, body {
  padding: 0;
  margin: 0;
  background: rgb(51, 51, 68);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}

body {
  background: url(./neural_network_inverted_darkened.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

header {
  font-size: xx-large;
  text-align: center;
  padding: 20px
}

header a {
  color: white;
  text-decoration: none;
}

.decks {
  text-align: center;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.decks li {
  margin: 20px;
  padding: 0;
  font-size: large;
  background: white;
  border: 3px solid #eee;
  border-radius: 10px;
}

.decks li a {
  padding: 40px;
  display: block;
  color: #222;
  text-decoration: none;
}

.container {
  text-align: center;
  margin: 20px auto;
  display: flex;
  width: auto;
  justify-content: center;
}

.container.options {
  margin: 0;
}

.dragdrop span {
  pointer-events: none;
}

.dragdrop {
  border: 3px dashed #aaa;
  border-radius: 10px;
  background: white;
  color: #222;
}

.dragdrop label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  min-height: 100px;
  min-width: 200px;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.dragdrop.dragging {
  border: 3px solid #eee;
  border-radius: 10px;
}

.dragdrop.dragging label {
  padding: 80px;
}

#upload_file {
  height: 1px;
  width: 1px;
  opacity: 0.01;
  position: absolute;
  right: -1px;
  bottom: -1px;
}

#bookmark-list {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 0;
}

#bookmark-list::after {
  content: "Paste bookmarks.html";
  position: absolute;
  top: 20px;
  left: 20px;
  color: #222;
  display: block;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

#bookmark-list:hover::after,
#bookmark-list:active::after,
#bookmark-list:focus::after,
#bookmark-list:focus-within::after {
  opacity: 0;
}

#bookmark-list textarea {
  border: 3px solid #eee;
  padding: 20px;
  font-size: large;
  background: white;
  color: #222;
  border-radius: 10px;
  min-height: 100px;
  min-width: 200px;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.radio-button {
  border: 5px solid transparent;
  border-radius: 10px;
  background: #226;
  position: relative;
  display: inline-block;
  background-clip: padding-box;
  z-index: unset;
  list-style: none;
  text-align: left;
}

.radio-button {
  display: block;
  text-decoration: none;
  color: white;
  min-width: 200px;
  text-align: center;
}

.radio-button {
  display: block;
  cursor: pointer;
  padding: 10px;
}

.radio-button {
  display: inline-block;
}


#compare,
#list,
#upload,
#queue,
#listview,
#thumbs,
.folder-toggle {
  opacity: 0;
  height: 1px;
  width: 1px;
  position: absolute;
  right: -1px;
  bottom: -1px;
}

#compare:checked ~ label[for="compare"],
#list:checked ~ label[for="list"],
#upload:checked ~ label[for="upload"],
#queue:checked ~ label[for="queue"],
#listview:checked ~ * label[for="listview"],
#thumbs:checked ~ * label[for="thumbs"] {
  color: #226;
  background-color: white;
}



.bookmarks,
.bookmarks li,
.bookmarks ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bookmarks ol li label {
  padding-left: 20px;
}

.bookmarks ol li ol li label {
  padding-left: 40px;
}

.bookmarks ol li ol li ol li label {
  padding-left: 60px;
}

.bookmarks ol  {
  display:none;
}


.bookmarks a,
.bookmarks label {
  background:rgb(26, 26, 35);
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  cursor: pointer;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.bookmarks a:hover,
.bookmarks label:hover,
.bookmarks a:focus,
.bookmarks label:focus,
.bookmarks a:active,
.bookmarks label:active {
  background: #226;
}

#list:checked ~ .container.upload,
#compare:checked ~ .container.upload,
#queue:checked ~ .container.upload,
.container.options,
.container.folder,
.container.links {
  display:none;
}

.container.folder {
  max-width: 250px;
  margin-left:0;
  text-align: left;
  overflow-y: scroll;
  position: absolute;
  top: 150px;
  bottom:0;
  height: auto;
}

.container.links {
  text-align: left;
  position:absolute;
  left:250px;
  right: 0;
  bottom: 0;
  top: 150px;
  padding: 20px;
  overflow-y: scroll;
}

.container.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display:none;
}

.container.links li {
  border-bottom: 1px solid #999;
  padding-bottom: 3px;
  max-width: 100%;
}

.container.links a {
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
  background-color:rgb(78, 78, 104);
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

#thumbs:checked ~ .container.links ul {
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  white-space: normal;
}

#thumbs:checked ~ .container.links li {
  display:inline-block;
  flex-basis: 20%;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 10px;
  min-height: 100px;
} 

#list:checked ~ .container.options,
#list:checked ~ .container.folder,
#list:checked ~ .container.links {
  display:block;
}



@media all and (max-width: 700px) {

  #bookmark-list {
    width: 80%;
  }

}


@media all and (max-width: 400px) {

  #bookmark-list {
    width: 100%;
    margin: 0 20px;
  }

  .dragdrop label {
    min-width: unset;
  }

  .dragdrop {
    margin: 0 20px;
  }

}

