html, body {
  padding: 0;
  margin: 0;
  background: rgb(51, 51, 68);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}

body {
  background: url(./neural_network_inverted_darkened.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

header {
  font-size: xx-large;
  text-align: center;
  padding: 20px
}

header a {
  color: white;
  text-decoration: none;
}

.decks {
  text-align: center;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.decks li {
  margin: 20px;
  padding: 0;
  font-size: large;
  background: white;
  border: 3px solid #eee;
  border-radius: 10px;
}

.decks li a {
  padding: 40px;
  display: block;
  color: #222;
  text-decoration: none;
}

.container {
  text-align: center;
  margin: 20px auto;
  display: flex;
  width: auto;
  justify-content: center;
}

.dragdrop span {
  pointer-events: none;
}

.dragdrop {
  border: 3px dashed #eee;
  border-radius: 10px;
  background: white;
  color: #222;
}

.dragdrop label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  min-height: 100px;
  min-width: 200px;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.dragdrop.dragging {
  border: 3px solid #eee;
  border-radius: 10px;
}

.dragdrop.dragging label {
  padding: 80px;
}

#upload_file {
  height: 1px;
  width: 1px;
  opacity: 0.01;
  position: absolute;
  right: -1px;
  bottom: -1px;
}

#bookmark-list {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 0;
}

#bookmark-list::after {
  content: "Paste bookmarks.html";
  position: absolute;
  top: 20px;
  left: 20px;
  color: #222;
  display: block;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

#bookmark-list:hover::after,
#bookmark-list:active::after,
#bookmark-list:focus::after,
#bookmark-list:focus-within::after {
  opacity: 0;
}

#bookmark-list textarea {
  border: 3px solid #eee;
  padding: 20px;
  font-size: large;
  background: white;
  color: #222;
  border-radius: 10px;
  min-height: 100px;
  min-width: 200px;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

label[for="list"],
label[for="compare"],
label[for="upload"] {
  border: 5px solid transparent;
  border-radius: 10px;
  background: #226;
  position: relative;
  display: inline-block;
  background-clip: padding-box;
  z-index: unset;
  list-style: none;
  text-align: left;
}

label[for="list"],
label[for="compare"],
label[for="upload"] {
  display: block;
  text-decoration: none;
  color: white;
  min-width: 200px;
  text-align: center;
}

label[for="list"],
label[for="compare"],
label[for="upload"] {
  display: block;
  cursor: pointer;
  padding: 10px;
}

label[for="list"],
label[for="compare"],
label[for="upload"] {
  display: inline-block;
}


#compare,
#list,
#upload {
  opacity: 0;
  height: 1px;
  width: 1px;
  position: absolute;
  right: -1px;
  bottom: -1px;
}

#compare:checked ~ label[for="compare"],
#list:checked ~ label[for="list"],
#upload:checked ~ label[for="upload"] {
  color: #226;
  background-color: white;
}



.bookmarks,
.bookmarks li,
.bookmarks ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bookmarks ol li {
  padding: 0 0 0 20px;
}



.bookmarks a,
.bookmarks label {
  background:rgb(26, 26, 35);
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  cursor: pointer;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#list:checked ~ .container.upload,
.container.folder {
  display:none;
}

.container.folder {
  max-width: 300px;
  margin-left:0;
  text-align: left;
  overflow-y: scroll;
  position: absolute;
  top: 200px;
  bottom:0;
  height: auto;
}

#list:checked ~ .container.folder {
  display:block;
}



@media all and (max-width: 700px) {

  #bookmark-list {
    width: 80%;
  }

}


@media all and (max-width: 400px) {

  #bookmark-list {
    width: 100%;
    margin: 0 20px;
  }

  .dragdrop label {
    min-width: unset;
  }

  .dragdrop {
    margin: 0 20px;
  }

}

